<p id="notice"><%= notice %></p>

<p>
  <strong>Ingredient:</strong>
  <%= @ingredient_recipe.ingredient_id %>
</p>

<p>
  <strong>Recipe:</strong>
  <%= @ingredient_recipe.recipe_id %>
</p>

<%= link_to 'Edit', edit_ingredient_recipe_path(@ingredient_recipe) %> |
<%= link_to 'Back', ingredient_recipes_path %>
