<%= form_for(@recipe_ingredient) do |f| %>
  <% if @recipe_ingredient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recipe_ingredient.errors.count, "error") %> prohibited this recipe_ingredient from being saved:</h2>

      <ul>
      <% @recipe_ingredient.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :recipe_id %><br>
    <%= f.collection_select :recipe_id, Recipe.all, :id, :name %>
  </div>
  <div class="field">
    <%= f.label :ingredient_id %><br>
    <%= f.collection_select :ingredient_id, Ingredient.all, :id, :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
